/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/

#license {
    width: 700px;
    border: 5px solid black;
    border-radius: 5px;
    padding: 24px;
}
 
#left-side {
    display: inline-block;
    width: 65%;
    Color:black
}
 
#right-side{
    display:inline-block;
    width: 34%;
}
 
 
#id-and-expiration div{
    display: inline-block;
    
}
#expiration div{
    
}
#small-pic-container,
#data-fields{
    display:inline-block;
}

#small-pic-container img{
    display:inline-block;
    width:34%
}
#data-left,
#data-right{
    display:inline-block
}

#signature{
    text-align: center;
}
#right-side img{
    width:100%;
}
#donor,
#real-id{
    display: inline-block;
}
